li {
    list-style: none;
    border-bottom: 1px solid #eee;
}
li:last-child {
    border-bottom: none;
}
li div {
    display: inline-block;
    padding: 5px 8px;
}
#dataList {
    margin: 10px;
    padding: 0;
    width: 600px;
    border: 1px solid #eee;
}
.stitle {
    background: lightskyblue;
    color: #fff;
    font-weight: 700;
}
.name {
    width: 200px;
    border-right: 1px solid #eee;
}
.desc {
    text-indent: 10px;
}
.fetchContain {
    font-size: 16px;
    margin-left: 10px;
}
.fetchContain select {
    background: #eee;
    width: 260px;
    height: 30px;
    margin-left: 10px;
}
.fetchContain button {
    background: lightskyblue;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    color: #fff;
    border: 1px solid #eee;
    margin-left: 20px;
}